<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Thymeleaf automaticamente busca los estilos dentro del siguiente path /src/main/resources/static/...-->
    <!-- @{/...} esta notacion resume a thymeleaf el path anterior, solo agregar subcarpetas creadas a partir de /static/... -->
    <link th:href="@{/css/estilos.css}" rel="stylesheet" />
    <!--Agregando bootstrap-->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Detalle vacante</title>
</head>
<body>
<h1>Conoce nuestras nuestras vacantes</h1>
<table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <!--<th>Id</th>-->
        <th>Vacante</th>
        <th>Descripcion</th>
        <th>Salario</th>
        <th>Fecha</th>
        <th>Vacante destacada</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tempVacante:${listaVacantes}">
        <!--<td th:text="${tempVacante.id}"></td>-->
        <td th:text="${tempVacante.vacante}"></td>
        <td th:text="${tempVacante.descripcionVacante}"></td>
        <td th:text="'$'+${tempVacante.salario}+' M.N'"></td>
        <td>[[${sdf.format(tempVacante.fechaVacante)}]]</td>
        <td>
            <span th:if="${tempVacante.destacado == 1}" class="badge text-bg-danger">Aplica Ya!</span>
            <span th:unless="${tempVacante.destacado == 1}" class="badge text-bg-success">Aplica</span>
        </td>
    </tr>
    </tbody>
</table>

<h2>Menu</h2>
<ul>
    <li><a th:href="@{/}">Inicio</a></li>
</ul>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>