<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Thymeleaf automaticamente busca los estilos dentro del siguiente path /src/main/resources/static/...-->
    <!-- @{/...} esta notacion resume a thymeleaf el path anterior, solo agregar subcarpetas creadas a partir de /static/... -->
    <link th:href="@{/css/estilos.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Detalle vacante</title>
</head>
<body>
<h1>Consulta el detalle de nuestras vacantes</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Vacante</th>
        <th>Descripcion</th>
        <th>Salario</th>
    </tr>
    <tr th:each="tempVacante:${listaVacantes}">
        <td th:text="${tempVacante.id}"></td>
        <td th:text="${tempVacante.vacante}"></td>
        <td th:text="${tempVacante.descripcionVacante}"></td>
        <td th:text="'$'+${tempVacante.salario}+' M.N'"></td>
    </tr>
</table>
</body>
</html>