<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Detalle Vacante</title>
</head>
<body>
<h1 th:text="'Detalle de la vacante:' +${vacante.vacante}"></h1>
ID vacante: [[${vacante.id}]]
<br>
Descripción: [[${vacante.descripcionVacante}]]
<br>
Fecha: [[${vacante.fechaVacante}]]
<br>
Salario: $[[${vacante.salario}]] M.N



<h3>¿Que desea hacer con esta vacante?</h3>
<table>
    <thead>
    <tr>
        <th><a th:href="@{/vacantes/eliminar-vacante(id=${idVacante})}" class="btn btn-success">Actualizar</a></th>
        <th><a th:href="@{/vacantes/eliminar-vacante(id=${idVacante})}" class="btn btn-danger">Eliminar</a></th>
        <th><a th:href="@{/detalle-vacantes}" class="btn btn-info">Regresar</a></th>
    </tr>
    </thead>
</table>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>